body {
    margin: 0;
    padding: 0;
} 

.hero-section{
    width: 600px;
    height: 1160px;
    margin: 0 auto;
    background-color: pink;
}

.logo{
    width: 600px;
    height: 170px;
    margin: 0;

}

.logo,
.menu-section,
.items{
    margin: 0;
    padding: 0;
}

#logo{
    object-fit:cover;
    margin: 0;
    width: 100%;
    height: 100%;
}

.menu-section{
    width: 600px;
    height: 990px;
    background-color: white;
}

.items{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.item{
    margin: 40px 20px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    border-bottom: 2px solid gray;
    margin: 20px 20px;
}

.image{
    font-size: 70px;
}

.item-details{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.add-btn{
    margin-left: auto;
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
}

.add-btn:hover{
    background-color: gray;
}

/* BILL SECTION  */

.bill-section {
    width: 510px;
    margin: 0 auto;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    /* height: 300px; */

    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);


}

.bill-section h3{
    margin-bottom: 70px;
}

.bill-list {
    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    border-bottom: 2px solid black;
}

.billed-items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    margin: 20px 0;
}

.item-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-info h3 {
    margin: 0;
}

.billed-items p {
    margin: 0;
}

.remove-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.remove-btn:hover{
    color: gray;
}

.total-bill{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.order{
    width: 100%;
}
.order-btn{
    width: 100%;
    height: 60px;
    background-color: #16DB99;
    color: white;
    border: none;
}